@model FinalRestaurante.Models.Restaurante
@{
    ViewBag.Title = "Agregar";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Agregar</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Agregar Pedido</h1>
    <table>
        
        @using (Html.BeginForm())
        {
            <tr><td>Descripción</td><td>@Html.TextBoxFor(R=>R.pedido.Descripcion)</td></tr>
            <tr><td>Mozo</td><td>@Html.DropDownListFor(R=>R.pedido.IdMozo, new SelectList(Model.nombreMozo, "idMozo", "nombre"), "Seleccione")</td></tr>
            <tr><td>Importe</td><td>@Html.TextBoxFor(R => R.pedido.Importe)</td></tr>
            <tr><td></td><td><input type="submit" value="Agregar" /></td></tr>
        }
    </table>

    @Html.ActionLink("Volver", "Index")
</body>
</html>

