
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Index</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Menu</h1>
    <div>
        <a href="/Restaurante/Agregar/">Agregar Pedido</a>
        <br />
        <a href="/Restaurante/Eliminar/">Eliminar Pedido</a>
        <br />
        <a href="/Restaurante/Modificar/">Modificar Pedido</a>
        <br />
        <a href="/Restaurante/Listar/">Listar Pedido</a>
        <br />
        <a href="/Restaurante/Reporte/">Reportes</a>
        <br />
    </div>
</body>
</html>

